.posts {
    // background-color:#d3cfcf;
    padding: 1rem;
    margin-bottom: 1rem;

    a  {
        
        margin: 0.5rem 0;
        color: #000000;
        text-decoration: none;

    }
   

h2 {
    padding: 0.5rem 2rem;
}

p {
 color: #777777;
 font-size: .8rem;
 font-style: italic;
}
}
 .posts:hover {
        background-color: #e7e4eb;
    }

