.header {
    padding: 1rem  1rem;
    background: #726d79;
    margin-bottom: 1.45rem;
}

.title {
    color: #fcf6a5;
    font-size: 4rem;
    text-decoration: none;
    
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 1rem 0;
    padding: 0;
}

.nav-item {
    color: #fff1dd;
    font-size: 1.5rem;
    margin-right: 1rem;
    text-decoration: none;
}

.nav-item:hover {
    color:#d8aeae;
}

.active-nav-item {
    color: #d8aeae;
    border-bottom: 2px solid;
 
}

